

.logo{
    background-image: linear-gradient(to right, rgba(14,230,253,255), rgba(143,68,255,255)) ;
    height:10rem;
   

} 

  h1 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    
    
   
  }
  th{
    font-size: x-large;
    background-color:rgba(61,25,91,255) ;
  }

  th, td {
    border: 2px solid rgba(61,25,91,255);
    padding: 8px;
    text-align: left;
    
  }
  tr:hover {
    background-color: rgba(61,25,91,255);
  }
  /*.tablerow{
    box-shadow: -5px -5px 5px #000, 5px -5px 5px #000 ;
  }
  .tabledata{
    box-shadow: -5px -5px 5px #000, 5px -5px 5px #000 ;
  } */
 .green-background{
   background-image: url(UEFA_Champions_League.svg-removebg-preview.png);
   background-size: 45%;
   background-repeat: no-repeat;
   background-position: center;
   
  
 }
 .orange-background{
  background-image: url(Logo_UEFA_Europa_League_-_2021.svg-removebg-preview\ \(1\).png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
 }
 .brown-background{
  background-color: red;
  opacity: 0.9;
 }
 #topscorer{
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(14,230,253,255), rgba(143,68,255,255)) ;
}
.topscorertable{
    margin-right: 45px;
    margin-bottom: 45px;
    background-image: linear-gradient(to left, rgba(14,230,253,255), rgba(143,68,255,255)) ;
}
.assisttable{
    background-image: linear-gradient(to left, rgba(14,230,253,255), rgba(143,68,255,255)) ;
}

.Titel{
color: rgba(61,25,91,255);
}


    



