@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mukta:wght@300;400;500;600&family=Open+Sans:wght@300&family=Roboto&family=Tilt+Neon&display=swap');

@media only screen and (min-width: 391px) and (max-width: 480px) {
  .logo {
   text-align: right;
 
  }
  .container-fluid a {
   float: none;
   width: 100%;
   font-size: small;
   justify-content: flex-end;
   margin-right: 0;
 
 }

 th{
  font-size: medium;
}
}

@media only screen and (max-width: 390px){

  
  .container-fluid {
    font-size: smaller;
    width: 100%;
    margin-top: -60px;

}
.logo {
    text-align: right;
    display: flex;
    
}
}



body{
    background-image: linear-gradient(to left, rgba(14,230,253,255), rgba(143,68,255,255)) ;
    font-family: 'Lato', sans-serif !important;
    font-family: 'Mukta', sans-serif !important;
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Tilt Neon', sans-serif !important;
    margin: 0px;
    color: white;
}

.navbar {
  text-decoration: underline;
}

.logo{
    background-image: linear-gradient(to right, rgba(14,230,253,255), rgba(143,68,255,255)) ;
    height: 3cm;
    justify-content: space-between;

} 

  h1 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    
    
   
  }
  th{
    font-size: x-large;
    background-color:rgba(61,25,91,255) ;
  }

  th, td {
    border: 2px solid rgba(61,25,91,255);
    padding: 8px;
    text-align: left;
    
  }
  tr:hover {
    background-color: rgba(61,25,91,255);
  }
  /*.tablerow{
    box-shadow: -5px -5px 5px #000, 5px -5px 5px #000 ;
  }
  .tabledata{
    box-shadow: -5px -5px 5px #000, 5px -5px 5px #000 ;
  } */
 .green-background{
   background-image: url(UEFA_Champions_League.svg-removebg-preview.png);
   background-size: 45%;
   background-repeat: no-repeat;
   background-position: center;
   
  
 }
 .orange-background{
  background-image: url(Logo_UEFA_Europa_League_-_2021.svg-removebg-preview\ \(1\).png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
 }
 .brown-background{
  background-color: red;
  opacity: 0.9;
  
 }
